ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    text-align: center;
    size: 5pt;
}

form li + li {
    margin-top: 1em;
    padding-left: 0px;
}

label {
    /* Определим размер и выравнивание */
    display: inline-block;
    width: 220px;
    text-align: right;
}

textarea {
    /* Выравним многострочные текстовые поля с их текстами-подсказками */
    vertical-align: top;

    /* Предоставим пространство для ввода текста */
    height: 5em;
}

form {
    /* Расположим форму по центру страницы */
    margin: 0 auto;
    width: 40pc;
    /* Определим контур формы */
    padding: 1em;
    border: 2px solid rgb(2, 0, 0);
    border-radius: 2em;
    border-style: dotted;
}

p.epigraph {
    color: green;
    text-align: right;
}

p.first_row {
    color: rgb(255, 0, 255);
}

p.first_row {
    /*Наблюдаем свойство каскадности*/
    color: red;
}

p.second_row {
    color: rgb(129, 3, 3);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

p.third_row {
    background-color: rgb(2, 0, 0);
    color: rgb(180, 180, 180);
    /*Не уверена что это похоже на "блики"...*/
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

div.third_lab {
    margin: 15px;
    border: 5px rgb(129, 3, 3);
    border-style: double;
}
